################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library
/.vs/EvaluationDemo/v16
/obj/Debug
*.sln
*.csproj
/Assets/TextMesh Pro
/Temp
